.post a, .post .post-title{
    width: 100%;
  }
  
  .btn-add-post {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    background: rgb(244, 36, 36);
    background-image: url('../icons/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
    right: 25px;
    top: 25px;
  }
  .btn-add-post:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
  }
  .posts-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-around;
    
  }
  
  .posts-sort {
    font-family: Raleway, monospace, sans-serif;
    align-self: flex-end;
    height: 25px;
    font-size: 15px;
  }

  .posts-sort>select {  
    font-family: Raleway, monospace, sans-serif; 
    color: black;
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    padding: 4px;
    background-color: #E7E7E7;
    border:  white 2px solid;
    font-weight: bold;
  }
  
  .posts-heading {
    font-family: "Open Sans", monospace, sans-serif;
    text-align: left;
    width: 55%;
    color: darkviolet;
    font-size: 55px;
  }
  
  .posts-list {
    list-style: none;
  }

  .search {
    
    margin-top: 20px;
    height: 35px;
    width: 40%;
    display: flex;    
    width: 50%;
  }

  .search input, .search button {
    
    margin: 0;
    border:none;;
    background-color: white;
    border: 2px solid grey;
    padding-left: 10px;
  }
  .search input {
    font-family: "Open Sans", monospace, sans-serif;
    border-right: none;
    width: 80%;
    border-radius: 20px 0 0 20px;
    font-size: 17px;
    color: navy;
    font-style: oblique;
  }
  .search button {
    
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-image: url('../icons/close.png');
    width: 35px;
    background-size: contain;
    
  }

  .search button:hover {
    background-color: lightgrey
  }