@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arvo, sans-serif;  
  background-color: #F7F7F7;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  color: snow;
  background-color: black;
}

.title {
  font-family: "Indie Flower", monospace, sans-serif;
  font-weight: bold;
  line-height: 50px;
  margin-left: 40%;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.home-icon {
  margin-left: 10px;
  margin-top: 2px;
  background-image: url('./icons/home.ico');
  background-size: 45px;
  background-repeat: no-repeat;
  width: 45px;
  height: 45PX;
}

.categories {
  position: fixed;
  margin-top: 50px;
  width: 15%;
  background-color: #F7F7F7;
  padding: 8px;
  height: 100%;
  color: rebeccapurple;
}

.categories h3 {
  color: grey;
}

.categories li {
  
  font-weight: bold;
  padding: 2px 0 2px 20px;  
  height: 20px;
  }

.selected-category {
  border-radius: 25%;
  background-color: white;
  color: rgb(124, 187, 187);
  box-shadow: 0px 0px 2px 2px lightgray;  
}
.categories li:hover {
  border-radius: 25%;
  box-shadow: 0px 0px 1px 1px lightgray; 
}

.no-results {
  padding-top: 60px;
  margin-left: 220px;
}

.posts {
  padding-top: 60px;
  margin-left: 18%;  
  width: 80%;
  background-color: #F7F7F7;
}
.post a, .post .post-title{
  width: 100%;
}

.btn-add-post {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  background: rgb(244, 36, 36);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
  right: 25px;
  top: 25px;
}
.btn-add-post:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
}
.posts-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-around;
  
}

.posts-sort {
  font-family: Raleway, monospace, sans-serif;
  align-self: flex-end;
  height: 25px;
  font-size: 15px;
}

.posts-sort>select {  
  font-family: Raleway, monospace, sans-serif; 
  color: black;
  border-radius: 20px;
  height: 35px;
  font-size: 15px;
  padding: 4px;
  background-color: #E7E7E7;
  border:  white 2px solid;
  font-weight: bold;
}

.posts-heading {
  font-family: "Open Sans", monospace, sans-serif;
  text-align: left;
  width: 55%;
  color: darkviolet;
  font-size: 55px;
}

.posts-list {
  list-style: none;
}

.post {
  display: flex;
  background-color: white;
  margin: 10px 5px 15px 5px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px 5px lightgray;  
  border-radius: 10px;
  
}

.post:hover {
  box-shadow: 0px 0px 10px 10px lightgray;    
}

.post h2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: teal;
  padding: 5px 0 10px 10px;
  height: 35px;
  font-size: 30px;
  background-color: mistyrose;
}

.post-view-header {
  width: 100%;
}

.fine-details, .fine-comment-details {  
  width: 100%;
  display: flex;
  justify-content: space-between;    
  background-color:whitesmoke;
}

.fine-details>p, .fine-comment-details>p {
  padding: 10px 15px 10px 15px;
  color: tomato;
  font-weight: bold;
  
}

.post-body {  
  padding: 10px;
  width: 100%;
  min-height: 50px;
  color: black;
  line-height: 25px;
  font-size: 17px;
  font-style: oblique;
}

.post-counts {
  width: 100%;
  display: flex;  
  justify-content: space-around;
  margin-bottom: 10px;
}
.votes {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 30px;
}

.upvote {
  background-image: url('./icons/upvote.png');
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.upvote:hover {
  background-image: url('./icons/upvote-red.png');
}

.downvote {
  background-image: url('./icons/downvote.png');
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.downvote:hover {
  background-image: url('./icons/downvote-red.png');
}

.vote-value {
  width: 25px;
  text-align: center;
}

.edit-item {
  background-image: url('./icons/edit.png');
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.edit-item:hover {
  background-image: url('./icons/edit-red.png');
}

.comments {
  background-image: url('./icons/comment.png');
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.votes a {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.comments:hover{
  background-image: url('./icons/comment-red.png');
}

.delete-item {
  background-image: url('./icons/delete.png');
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-item:hover{
  background-image: url('./icons/delete-red.png');
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 8%;
  left: 20%;
  right: 20%;
  bottom: 8%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .24), 0 3px 12px 0 rgba(0, 0, 0, .12);
  min-width: 500px;
  background-color: #F7F7F7;
}

.modal-heading {
  font-family: "Open Sans", monospace, sans-serif;
  text-align: left;
  width: 95%;
  color: darkviolet;
  font-size: 55px;
  margin-bottom: 10px;
}

.modal form {
  text-align: center;
  
}

.modal form input, .modal form select {
  font-family: monospace, sans-serif;  
  width: 98%;
  padding: 1%;
  line-height: 23px;
  font-size: 18px;
  margin-bottom: 5px;
  color: firebrick;
  border: none;
  border-radius: 10px;
  
}

.modal form select{  
  width: 100.5%;
}

.modal form textarea {
  width: 98.25%;
  height: 200px;
  resize: none;
  scroll-behavior: smooth;
  padding: 1%;
  line-height: 23px;
  font-size: 18px;
  color: rgb(56, 84, 161);
  border: none;
  border-radius: 10px;
}

.modal form button {
  font-family: monospace, sans-serif;
  display: block;
  width: 60%;
  margin-left: 20%;
  height: 35px;
  margin-top: 10px;
  color: white;
  background-color: steelblue;
  font-family: monospace, sans-serif;
  font-size: 20px;
  border-style: none;
  
}

.modal form button:hover {
  border-style: groove;
  cursor: pointer;
}

.modal form button:disabled {
  background-color: gray;
}

.modal form button:disabled:hover {
  border-style: none;
  cursor: default;
}

.modal-close {
  float: right;
  height: 30px;
  width: 30px;
  background-color: inherit;
  color: black;
  border: none;
  font-weight: bold;
  background-image: url('./icons/close.png');
  background-size: contain;
}

.modal-close:hover {
  background-color: lightgrey
}

.comments-section {
  width: 100%;
  margin-top: 15px;
  box-shadow: 0px 0px 5px 5px lightgray;  
}

.comments-section > h5 {
  color: rebeccapurple;
  height: 30px;
  line-height: 28px;
  font-size: 20px;
  margin-left: 15px;
}

.comments-section > li {
  list-style: none;
  margin: 5px 0 10px 0;
  box-shadow: 0px 0px 5px 5px lightgray; 
}

.comment-counts {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.comment-body {
  
  color:navy;
  margin: 10px;
  line-height: 20px;
  font-size: 15px;
  font-style: oblique;
}

.add-comment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px 5px lightgray;  
}
.add-comment > textarea {
  width: 60%;
  height: 70px;
  resize: none;
  scroll-behavior: smooth;
  margin: 15px 5px 5px 5px;
  border: none;
  padding: 10px;
  color: purple;
  line-height: 25px;
  font-size: 20px;
    
}

.add-comment > div {
  margin: 15px 5px 5px 5px;
  width: 33%;
}

.add-comment > div > input {
  padding: 0 5px 0 5px;
  height: 38px;
  width: 100%;
  border: none;  
  color: green;
  font-family: monospace, sans-serif;
  font-size: 20px;
}

.submit-comment {
  width: 104%;
  height: 35px;
  margin-top: 5px;
  color: white;
  background-color: steelblue;
  font-family: monospace, sans-serif;
  font-size: 20px;
  border-style: none;
}
.submit-comment:disabled {
  background-color: gray;
}

.submit-comment:hover {
  border-style: groove;
  cursor: pointer;
}

.submit-comment:disabled:hover {
  border-style: none;
  cursor: default;
}

.no-results{
  color: #af0000;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  margin: 0 0 0 25%;
  padding: 160px 0 0 0;
}

.no-results span {
  font-family: "Alvo", Helvetica, sans-serif;
  cursor: pointer;
  font-style: oblique;
  font-size: 1.25em;
  color: teal;
  display: block;
  margin: 30px 20% 0 0;
  }

.prompt {
  position: absolute;
  top: 37%;
  left: 35%;
  right: 35%;
  bottom: 40%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .24), 0 3px 12px 0 rgba(0, 0, 0, .12);
  background-color: #F7F7F7;
}

.prompt-modal {
  font-family: "Open Sans", monospace, sans-serif;
  font-size: 18px;  
  color: darkmagenta;
  text-align: center;
}

.prompt-modal p {
  margin-top: 10px;
  
}

.prompt-button {
  width: 20%;
  height: 30px;
  margin-top: 5px;
  color: white;
  background-color: grey;
  font-family: monospace, sans-serif;
  font-size: 15px;
  border-style: none;
  margin-left: 10%;
  margin-top: 20px;
  font-weight: bold;
}

.prompt-modal div button:first-child:focus{
  background-color: steelblue;
}

.prompt-button:focus{
  background-color: crimson;
}

.loading {
  align-self: center;
  padding: 20% 0;
  margin: 0 50%;
}

.comment-loading {
  align-self: center;
  padding: 0 70px;
}